{% extends 'base.html' %}

{% block page_title %}home Page{% endblock %}

{% block page_heading %}home{% endblock %}

{% block content %}
<section class="home">
  <div class="row home-row home-poster-row">
    <div class="home-detail col-12 col-lg-5">
      <h1 class="home-detail-title home-poster-detail-title">POSTER</h1>
      <p class="home-detail-type">Poster</p>
      <p class="home-detail-dimensions">1080 x 1920</p>
      <p class="home-detail-link"><a href="{% url 'products' %}">shop products</a></p>
    </div>
    <div class="col-12 col-lg-7 home-image">
      <img src="https://files.list.co.uk/images/2020/04/06/mw2r-ss-battletrailer-1920x1080-LST396342.jpg" alt="">
    </div>
  </div>
  <div class="row home-row home-logo-row">
    <div class="col-12 col-lg-7 home-image">
      <img src="https://files.list.co.uk/images/2020/04/06/mw2r-ss-battletrailer-1920x1080-LST396342.jpg" alt="">
    </div>
    <div class="home-detail home-logo-detail col-12 col-lg-5">
      <h1 class="home-detail-title">LOGO</h1>
      <p class="home-detail-type">Poster</p>
      <p class="home-detail-dimensions">1080 x 1920</p>
      <p class="home-detail-link home-logo-detail-link"><a href="{% url 'products' %}">shop products</a></p>
    </div>
  </div>
  <div class="row home-row home-icon-row">
    <div class="home-detail home-detail col-12 col-lg-5">
      <h1 class="home-detail-title">ICON</h1>
      <p class="home-detail-type">Poster</p>
      <p class="home-detail-dimensions">1080 x 1920</p>
      <p class="home-detail-link"><a href="{% url 'products' %}">shop products</a></p>
    </div>
    <div class="col-12 col-lg-7 home-image">
      <img src="https://files.list.co.uk/images/2020/04/06/mw2r-ss-battletrailer-1920x1080-LST396342.jpg" alt="">
    </div>
  </div>
</section>
{% endblock %}
