/*--------------------general styles------------*/

.row {
  margin-left: auto;
  margin-right: auto;
}

.mb-3 {
  margin-bottom: 0 !important;
}

/*-------------------navbar------------*/

.navbar {
  position: fixed !important;
  width: 100%;
  top: 0%;
}

.navbar-toggler {
  border: none;
}

.navbar ul li {
  margin-right: 15px;
  margin-left: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 1px solid #25274d;
}

.navbar ul li:hover {
  border-bottom: 1px solid #aaabb8;
}

.navbar a {
  color: #aaabb8 !important;
}

.navbar-unauth {
  background-color: rgba(0, 0, 0, 0) !important;
  z-index: 20;
}

.navbar-auth {
  background-color: #25274d !important;
  z-index: 20;
}

.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  border-bottom: 1px solid #25274d;
}


@media (max-width: 600px) {
  .navbar-collapse {
    background-color: #25274d !important;
  }
}


/*--------------------index landing page for website------------*/

.body-background {
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.index-login {
  background-color: #aaabb8;
  height: 500px;
  width: 400px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

@media (max-width: 1500px) {
  .index-login{
    height: 450px;
    width: 350px;
  }
}

@media (max-width: 1100px) {
  .index-login{
    width: 320px;
  }
}

@media (max-width: 991px) {
  .index-login{
    top: 50%;
  }
}

@media (max-width: 450px) {
  .index-login{
    width: 240px;
    height: auto;
    top: 50%;
  }
}

@media (max-width: 450px) {
  .index-login-title {
    padding-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (max-width: 450px) {
  .index-login-form {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

@media (max-width:450px) {
  .index-create-account {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}



.index-login-form {
  padding-top: 30px;
  padding-bottom: 50px;
}

@media (max-width: 1500px) {
  .index-login-form {
    padding-top: 30px;
    padding-bottom: 0px;
  }
}

.index-login-form input {
  background-color: #aaabb8 !important;
  border: 1px solid #25274d !important;
}

.index-login-form label {
  color: #25274d !important;
}

.index-login-title p {
  padding-left: 40px;
  padding-right: 40px;
}

#div_id_password {
  margin-bottom: 5px;
}

.index-reset-password {
  text-align: right;
}

.index-create-account {
  text-align: center;
}

.index-login-button-p {
  text-align: center;
}

.index-login-button {
  border-radius: 30px;
  width: 100%;
  height: 38px;
  border: 3px solid #25274d;
  color: #25274d;
  background-color: white;
  background-color: #aaabb8;
}

.index-login-button:hover {
  color: white;
  background-color: #25274d;
}


/*--------------------index landing page carousel------------*/

@media (max-width: 991px) {
  .glide-to-hide {
    display: none;
  }
}

.glide {
  position: absolute;
  height: 500px !important;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding-right: 50px;
}

@media (max-width: 1500px) {
  .glide {
    height: 450px !important;
  }
}

.glide .glide__track {
  height: 100% !important;
}

.glide__slides {
  height: 100% !important;
}

.glide__slide {
  height: 100% !important;
}

.carousel-div {
  background-color: #25274d;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 5px;
}

.carousel-img {
  height: 40%;
}

.carousel-img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.carousel-detail {
  padding-left: 50px;
}

.carousel-detail h1 {
  color: #aaabb8;
  padding-top: 30px;
}

.carousel-detail p {
  color: #aaabb8;
  padding-top: 50px;
}


/*--------------------register page------------*/

.register-page {
  background-color: #aaabb8;
  height: 600px;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }
}

@media (max-width: 991px) {
  .register-page {
    margin-top: 200px;
  }
}

@media (max-width: 500px) {
  .register-page {
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .register-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .register-page form .form-group {
    margin-bottom: .5rem;
  }
}

.register-page form .form-group .form-control {
  background-color: #aaabb8 !important;
  color: #25274d;
  border: 1px solid #25274d;
}

@media (max-width: 768px) {
  .register-page form .form-group .form-control {
    height: 30px;
  }

}

.register-button-p {
  text-align: center;
}

.register-button {
  border-radius: 30px;
  width: 100%;
  height: 38px;
  border: 3px solid #25274d;
  color: #25274d;
  background-color: #aaabb8;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  .register-button {
    margin-bottom: 0;
  }
}

.register-button:hover {
  color: #aaabb8;
  background-color: #25274d;
}

.back-to-login {
  text-align: center;
  word-wrap: normal;
}

.help-block {
  display: none;
}

/*------------------home page---------------*/

.home-row {
  height: 100vh;
  padding-top: 10%;
}

@media (max-width: 768px) {
  .home-row {
    padding-top: 20%;
  }
}

.home-poster-row {
  background-color: #aaabb8;
}

.home-logo-row {
  background-color: #25274d;
}

.home-icon-row {
  background-color: #2e9cca;
}

.home-detail-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 4em;
  color: #29648a;
  word-wrap: break-word;
  text-align: center;
}

@media (min-width: 500px) {
  .home-detail-title {
    font-size: 5em;
  }
}

@media (min-width: 992px) {
  .home-detail-title {
    font-size: 5em;
  }
}

@media (min-width: 1200px) {
  .home-detail-title {
    font-size: 6em;
  }
}

@media (min-width: 1400px) {
  .home-detail-title {
    font-size: 7em;
  }
}

.home-image img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-detail p {
  color: #29648a;
}

.home-detail-link {
  text-align: center;
}

.home-detail-link a {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  border: 2px solid #25274d;
  color: #25274d;
}

.home-detail-link a:hover {
  color: #aaabb8;
  background-color: #25274d;
}

.home-logo-detail-link a {
  color: #aaabb8;
  border: 2px solid #aaabb8;
}

.home-logo-detail-link a:hover {
  color: #25274d;
  background-color: #aaabb8;
}

/*--------------------custom produt order display------------*/

.custom-product {
  padding-top: 100px;
  background-color: #aaabb8;
}

.custom-product label {
  color: #25274d;
}

.custom-product select {
  background-color: #aaabb8;
  border: 1px solid #25274d;
  color: #25274d;
}

.custom-product textarea {
  background-color: #aaabb8;
  border: 1px solid #25274d;
  color: #25274d;
}

.custom-product form {
  padding-left: 0;
  padding-right: 0;
  color: #25274d;
}

.order-product-button-div {
  padding: 0;
  }

.order-product-button {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  border: 3px solid #25274d;
  color: #25274d;
}

.order-product-button:hover {
  border: 3px solid #25274d;
  color: #aaabb8;
  background-color: #25274d;
}

/*--------------------products display------------*/

.search-container {
  padding-top: 70px;
  height: auto;
  background-color: #25274d;
}

.search-container form {
  text-align: center;
  padding-bottom: 15px;
}

.search-container form input {
  width: 30%;
  background-color: #25274d;
  border: 1px solid #aaabb8;
  border-radius: 3px;
  padding-left: 20px;
  height: 35px;
  color: #aaabb8;
}

@media (max-width: 1350px) {
  .search-container form input {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .search-container form input {
    width: 80%;
  }
}

.search-container form button {
  background-color: #aaabb8;
  color: #25274d;
  height: 37px;
  border: 1px solid #25274d;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-container form button:hover {
  background-color: #25274d;
  color: #aaabb8;
  border: 1px solid #aaabb8;
}

.product-display-section {
  background-color: #aaabb8;
}

.product-display {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  max-height: 580px;
}

@media (max-width: 768px) {
  .product-display {
    height: auto;
    max-height: none;
  }
}

.product-image {
  display: inline-block;
  max-height: 580px;
}

@media (max-width: 768px) {
  .product-image {
    display: block;
    width: 100%;
    height: 70%;
  }
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-detail {
  display: inline-block;
  float: right;
  padding-left: 25px;
}

@media (max-width: 768px) {
  .product-detail {
    display: block;
    width: 100%;
    height: 30%;
  }
}

.product-detail h1 {
  font-family: 'Archivo Black', sans-serif;
  color: #29648a;
}

.product-detail p {
  color: #25274d;
}

.product-price-form {
  margin-bottom: 16px;
}

.product-price-form button {
  border: 1px solid #25274d;
  color: #aaabb8;
  background-color: #25274d !important;
  margin-left: 10px;
}

.product-price-form button:hover {
  border: 1px solid #25274d !important;
  color: #25274d !important;
  background-color: #aaabb8 !important;
}

.cart-display-section {
  background-color: #aaabb8;
  padding-top: 100px;
}

.custom-select {
  width: auto !important;
  background-color: #aaabb8;
  border: 1px solid #25274d;
}

/*------------------profile page----------------------*/

.profile-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #aaabb8;
}

.profile {
  margin-top: 50px;
  padding-left: 50px;
}

.profile-img {
  height: 200px;
  width: 200px;
  margin-bottom: 50px;
}

.profile-img img {
  height: 100%;
  width: 100%;
  border: 1px solid #25274d;
  border-radius: 50%;
}

.profile p {
  color: #25274d;
}

/*------------------cart page----------------------*/

.cart-total {
  margin-top: 100px;
  text-align: center;
  color: #25274d;
}

.cart-total a {
  color: #25274d;
  border: 2px solid #25274d;
  background-color: #aaabb8;
  margin-left: 20px;
}

.cart-total a:hover {
  color: #aaabb8;
  border: 2px solid #25274d;
  background-color: #25274d;
}

/*------------------checkout page----------------------*/

.checkout {
  padding-top: 100px;
  background-color: #aaabb8;
}

.checkout-view {
  height: auto;
  background-color: #29648a;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.checkout-view h3 {
  color: #aaabb8;
  font-family: 'Roboto Condensed', sans-serif;
}

.checkout-view p {
  color: #aaabb8;
  font-family: 'Roboto Condensed', sans-serif;
}

.checkout-product-img {
  width: 100%;
  height: 100%;
}

.checkout-product-img img {
  width: 100%;
  height: auto;
}

.checkout-caption {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.total-row {
  margin-top: 100px;
  margin-bottom: 50px;
}

.checkout-total {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  color: #25274d;
}

.checkout-total-data {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  color: #25274d;
}

.checkout-forms legend {
  font-family: 'Roboto Condensed', sans-serif;
  color: #25274d;
}

.order-form .form-group label {
  font-family: 'Roboto Condensed', sans-serif;
  color: #25274d;
}

.order-form .form-group input {
  font-family: 'Roboto Condensed', sans-serif;
  color: #25274d;
  background-color: #aaabb8;
  border: 1px solid #25274d;
}

.payment-form .form-group label {
  font-family: 'Roboto Condensed', sans-serif;
  color: #25274d;
}

.payment-form .form-group input {
  font-family: 'Roboto Condensed', sans-serif;
  color: #25274d;
  background-color: #aaabb8;
  border: 1px solid #25274d;
}

.payment-form .form-group select {
  font-family: 'Roboto Condensed', sans-serif;
  color: #25274d;
  background-color: #aaabb8;
  border: 1px solid #25274d;
}

#submit_payment_btn {
  background-color: #25274d;
  color: #aaabb8;
  border: 1px solid #25274d;
}

#submit_payment_btn:hover {
  background-color: #aaabb8;
  color: #25274d;
  border: 1px solid #25274d;
}

/*------------------footer----------------------*/

footer {
  background-color: #25274d;
}

.footer {
  padding-top: 50px;
}

.footer-contact h3 {
  width: 100%;
  text-align: center;
  color: #aaabb8;
}

.footer-contact ul {
  width: 100%;
  text-align: center;
}

.footer-contact ul li {
  color: #aaabb8;
  text-decoration: none;
  list-style-type: none;
}

.footer-social h3 {
  width: 100%;
  text-align: center;
  color: #aaabb8
}

.footer-social ul {
  width: 100%;
  text-align: center;
}

.footer-social ul li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

.footer-social ul li:hover {
  border-bottom: 1px solid #aaabb8;
}

.footer-social ul li a {
  text-decoration: none;
  color: #aaabb8;
  font-size: 1.5em;
}
