{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}index Page{% endblock %}


{% block content %}
<section class="row body-background">
  <div class="col-12 col-md-6"">
    <div class="index-login">
    <h3 class="index-login-title" style="padding-left: 50px; padding-right: 50px; padding-top: 70px;">Login</h3>
    <form class="index-login-form" action="" method="POST" style="padding-left: 50px; padding-right: 50px;">
      {% csrf_token %}
      {{ login_form | as_bootstrap }}
      <p class="index-reset-password"><a href="{% url 'password_reset' %}">Reset Password</a></p>
      <p class="index-login-button-p"><button class="index-login-button" type="submit">Login</button></p>
    </form>
    <p class="index-create-account" style="padding-left: 50px; padding-right: 50px;"><a href="{% url 'registration' %}">Create account here →</a></p>
  </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="">
          </li>
          <li class="glide__slide">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="">
          </li>
          <li class="glide__slide">
            <img src="https://media-cdn.tripadvisor.com/media/photo-s/14/19/12/cb/beautiful-sunset-from.jpg" alt="">
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
