{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="cart-display-section d-flex flex-column bd-highlight mb-3">
  {% for item in cart_items %}
  <div class="row product-display p-2 bd-highlight">
    <div class="product-image col-12 col-md-8">
      <img src="{{ MEDIA_URL }}{{ item.product.image }}" alt="">
    </div>
    <div class="product-detail col-12 col-md-4">
      <h3 class="product-name">{{ item.product.name }}</h3>
      <p class="product-description">{{ item.product.type }}</p>
      <p class="product-description">{{ item.product.size }}</p>
      <p class="product-description">{{ item.product.description }}</p>
      <p class="product-description">£ {{ item.product.price }}</p>
      <form class="form-inline product-price-form" method="post" action="{% url 'adjust_cart' item.id %}">
        {% csrf_token %}
        <select class="custom-select" name="quantity" type="number">
          <option selected>{{item.quantity}}</option>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>

        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
      </form>

    </div>
  </div>
  {% endfor %}
  <p>Total<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}
    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
  </p>
</div>

{% endblock %}
